@import '../../assets/styles/variables.scss';

.container {
    padding: 20px;
    .title, 
    .location{
        color: $primary-color;
        font-weight: 500;
        margin: nth($margins, 2) 0;
    }
    .title{
        line-height: 1.5;
    }
    .tags_wrapper{
        display: flex;
        gap: nth($margins, 2);
    }
}