@import '../../assets/styles/variables.scss';


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin-bottom: 20px;
    padding: 20px;
    .logo{
        width: 145px;
    }
}

.nav{
    display: flex;
    .navItem{
        transition: all .5s ease;
        .navLink{
            color: $primary-color;
            text-transform: uppercase;
            font-weight: 500;
            margin: 0 10px;
            text-decoration: none;
            font-size: 12px;
            display: inline-block;
            position: relative;
           /*  &::after{
                content: '';
                height: 1px;
                background: $primary-color;
                width: 0%;
                position: absolute;
                left: 0;
                bottom: 0;
                transition: all .5s ease;
            }
            &:hover:after{
                width: 100%;
            } */
        }
    }
}